<div class="container">
  <form class="form-horizontal" role="form">
    <h2>Create Program</h2>
    <div class="form-group">
      <label for="Program name" class="col-sm-3 control-label">Program name</label>
      <div class="col-sm-9">
        <input [(ngModel)]="program.programName"
               ngModel
               name="programName"
               type="text"
               id="programName"
               placeholder="Program name"
               class="form-control"
               autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="Program target" class="col-sm-3 control-label">Program target</label>
      <div class="col-sm-9">
        <input [(ngModel)]="program.programTarget"
               ngModel
               name="programTarget"
               type="text"
               id="programTarget"
               placeholder="Program target"
               class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="Program note" class="col-sm-3 control-label">Program note</label>
      <div class="col-sm-9">
        <input [(ngModel)]="program.programNote"
              ngModel
              name="programNote"
              type="text"
              id="programNote"
              placeholder="Program note"
              class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="Sessions per week" class="col-sm-3 control-label">Sessions per week</label>
      <div class="col-sm-9">
        <input [(ngModel)]="program.numOfExercises"
               ngModel
               name="numOfExercises"
               type="number"
               id="numOfExercises"
               placeholder="between 1-7"
               class="form-control">
      </div>
    </div>

    
    <div class="form-group" *ngFor="let workout of workouts;let i = index">
    <div class="col-md-6">
    	<input type="checkbox" name="{{workout}}" >
    </div>
    <div class="col-md-6">
    {{workout}}
    </div>
</div>




    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button (click)="saveProgram()" type="submit" class="btn btn-primary btn-block">Save</button>
      </div>
    </div> 
  </form> <!-- /form -->
</div> <!-- ./container -->
