<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{program.name}}</h3>
          <div class="pull-right">
          </div>
        </div>
        <div class="widget-content">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Wokrouts name</th>
            </tr>
            </thead>
            		<tbody>
			<tr *ngFor="let w of program.data.workouts;let i = index">
        <td>
          <div class="col-md-6">
            {{i + 1}}
          </div>
        </td>

				<td>
					<div class="col-md-6">
            <a (click)="showExercise(w)" routerLinkActive="active-link">{{w.name}}</a>
					</div>
				</td>
   		 	</tr>
		</tbody>
          </table>
          <div *ngIf="program.data.workouts.length==0"> no workouts available </div>
        </div> <!-- /container -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Exercises of: {{workoutName}}</h3>
          <div class="pull-right">
          </div>
        </div>
        <table class="table table-hover" id="task-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>RM Weight</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let e of exercises;let i = index">
            <td>
              <div class="col-md-6">
                {{e.name}}
              </div>
            </td>
            <td class="td-actions">
              <div class="col-md-6">
                <input type="number"
                       [(ngModel)]="e.weight"
                       ngModel
                       name="set_{{i}}">
<!--                 {{e.weight}} -->
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button [disabled]="!checkIfAllFilled()" (click)="saveRm()" type="submit" class="btn btn-primary btn-block changeButton">Save RM</button>
      </div>
    </div>
  </div>
</div>
