<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">

<div class="widget-content">
	<table class="table table-striped table-bordered">
	<thead>
			<tr>
				<th>Exercise name</th>
				<th>Main muscle</th>
        <th>
          <button type="button" class="btn btn-success" (click)="createExercise()">
            <span class="glyphicon glyphicon-plus addButton"></span>Add</button>
        </th>
      </tr>
		</thead>
		<tbody>
			<tr *ngFor="let exercise of exercises;let i = index">
				<td>
					<div class="col-md-6">
						{{exercise.name}}
					</div>
				</td>
								<td>
					<div class="col-md-6">
            {{exercise.primaryMuscle}}
          </div>
				</td>
				<td class="td-actions">
					<div class="col-md-6">
						<button (click)="editExercise(exercise.id)" name="edit" class="btn btn-sm btn-warning" href="javascript:;"><span class="glyphicon glyphicon-edit"></span></button>
						<button (click)="removeExercise(exercise.id)" name="edit" class="btn btn-sm btn-danger" href="javascript:;"><span class="glyphicon glyphicon-remove"></span></button>
		 			</div>
	 			</td>
   		 	</tr>
		</tbody>
	</table>
	</div>

<div *ngIf="!exercises || exercises.length==0"> <font color="red"> no exercises available </font></div>
</div> <!-- /container -->
