<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
              <div class="row">

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{trainer.birthDay}}</td>
                      </tr>
                       <tr>
                        <td>Gender</td>
                        <td>{{trainer.gender}}</td>
                      </tr>
                                             <tr>
                        <td>height (CM)</td>
                        <td>{{trainer.height}}</td>
                      </tr>
                                             <tr>
                        <td>Weight (KG)</td>
                        <td>{{trainer.weight}}</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{trainer.address}}</td>
                      </tr>
                     <tr>
                        <td>Experience</td>
                        <td>{{trainer.numOfExperience}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">{{trainer.email}}</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>{{trainer.phoneNumber}}<br>
                        </td>

                    </tbody>
                  </table>
                  <button [disabled]="!program" (click)="userProgram()" type="submit" class="btn btn-primary btn-block">User current program</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

  <div class="widget-content">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th class="currentlyExisted">Currently existed</th>
        <th></th>
        <th class="workoutName">Workout name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of programs;let i = index">
        <td>
          <div class="col-md-6">
            <div *ngIf="checkIfExisted(p)==true"><font color="red"> currently existed </font> </div>
          </div>
        </td>
        <td>
          <div class="radio-inline">
            <input type="radio"
          			name="chosenProgram"
          			id="choseProgram"
          			[(ngModel)]="chosenProgram"
                   ngModel
                   value="{{i}}">

          </div>
        </td>
        <td>
          <div class="col-md-6">{{p.name}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="programs.length==0"> <font color="red"> no programs available </font></div>
    <button [disabled]="chosenProgram" (click)="changeUserProgram()" type="submit" class="btn btn-primary btn-block changeButton">Change user program</button>
  </div>

    </div>


