<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="#" role="login" class="loginForm">
          <img src="./../../../assets/images/login-logo.PNG" class="img-responsive" alt="" />

          <p class="welcome">Welcome to Trainer</p>

          <input  [(ngModel)]="account.email"
                  ngModel
                  type="email"
                  name="email"
                  placeholder="Email"
                  required
                  class="form-control input-lg"  />

          <input [(ngModel)]="account.password"
                 ngModel
                 type="password"
                 name="password"
                 class="form-control input-lg"
                 id="password"
                 placeholder="Password"
                 required="" />


<!--          <div class="pwstrength_viewport_progress"></div>-->

          <div *ngIf="showError == true"><font color="red"> Server error {{errorMsg}} </font></div>
          <button (click)="login()" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>

        </form>

<!--        <div class="form-links">
          <a href="#">www.website.com</a>
        </div>-->
      </section>
    </div>

    <div class="col-md-4"></div>

  </div>

</div>
