<div class="container">
  <form class="form-horizontal" role="form" #editForm="ngForm">
    <h2>Edit Workout</h2>
    <div class="form-group">
      <label class="col-sm-3 control-label">Workout name</label>
      <div for="workoutName" class="col-sm-9">
        <input name="workoutName"
               type="text"
               id="workoutName"
               placeholder="{{workout.name}}"
               class="form-control"
               [(ngModel)]="workout.name"
               ngModel
               autofocus>
      </div>
    </div>

		    <div class="widget-content">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Currently existed</th>
              <th></th>
              <th>Exercise name</th>
              <th>Sets</th>
              <th>Repeats</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of exercises;let i = index">
              <td>
                <div class="col-md-6">
                  <div *ngIf="checkIfExisted(e)==true"><font color="red"> currently existed </font> </div>
                </div>
              </td>
              <td>
                <div class="col-md-1">
                  <input
                    type="checkbox"
                    name="exercise_{{e}}"
                    [checked] = "false"
                    (change)="onCheckChange($event, e)">
                </div>
              </td>
              <td>
                <div class="col-md-6">
                  {{e.name}}
                </div>
              </td>
              <td class="td-actions">
                <div class="col-md-6">
                  <input type="text"
                         [(ngModel)]="e.numOfSets"
                         ngModel
                         name="set_{{i}}">
                </div>
              </td>
              <td class="td-actions">
                <div class="col-md-6">
                  <input type="text"
                         [(ngModel)]="e.numOfIntervals"
                         ngModel
                         name="repeats_{{i}}">
                </div>
              </td>
            </tr>
            </tbody>
          </table>
	<div *ngIf="exercises.length==0"> <font color="red"> no exercises available </font></div>
	</div>



		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<button (click)="saveWorkout()" type="submit"
                class="btn btn-primary btn-block">Save</button>
			</div>
		</div>
	</form>
	<!-- /form -->
</div>
<!-- ./container -->
